<h1>Create Pet Name</h1>
<form action='/tamagotchi' method='post'>
  <label for='new-name'>Pet Name</label>
  <input id='new-name' name='new-name' type='text'><br>
  <button type='submit'>Add Pet</button>
</form>
